.usuario-lista {
  width: 100%;
  max-width: 1600px;
  margin: 10px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table tr {
  display: table-row;
}

.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #e0e0e0;
  vertical-align: middle;
}

.checkbox-cell {
  width: 40px;
}

.user-info {
  width: auto;
  word-wrap: break-word;
}

/* Contenedor de los botones de acción */
.action-buttons {
  width: 250px;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
}

/* Botón "Ver Paquetes" */
.view-packages-button {
  background-color: #ff9100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-packages-button:hover {
  background-color: #b37700;
}

/* Botón "Editar" */
.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}

/* Contenedor de los botones de eliminar y desactivar */
.actions-container {
  margin-top: 15px;
  text-align: center;
}

/* Botón de eliminación */
.delete-button {
  background: #ff9100 linear-gradient(to bottom, #ff9100 5%, #815117 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.delete-button:hover {
  background: #871111 linear-gradient(to bottom, #3c0c00 5%, #3c0003 100%);
}

/* Botón de desactivación */
.deactivate-button {
  background: #1e7e34 linear-gradient(to bottom, #274cb1 5%, #1125bd 100%);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.deactivate-button:hover {
  background: #3253cb linear-gradient(to bottom, #122197 5%, #020a62 100%);
}

/* Estilo para filas no disponibles */
.bg-blue {
  background-color: #1e88e5 !important;
}

.bg-blue td {
  background-color: inherit !important;
  color: white !important;
}
